.messages-settings {
  font-size: 14px;
  .header {
    display: flex;
    padding: 15px 10px;
    .header-btn {
      margin-right: 10px;
    }
    .header-name {
      font-size: 18px;
      margin-bottom: 2px;
    }
    .header-desc {
      color: rgb(133, 149, 166);
    }
  }

  .settings-item {
    padding: 10px;
    .icon {
      padding-right:10px;
    }
    .msg {
      width: 220px;
      font-size: 14px;
      margin: 0;
    }
    .msg-sec {
      color: rgb(133, 149, 166);
      font-size: 14px;
      margin: 0;
    }
  }
}